<% provide(:title, "Log in") %>
 <%= form_for(:session, url: session_url) do |f| %>
  <h1>Log in</h1>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Submit"%>
    </div>
  <% end %>
  <p>New user? <%= link_to "Create account!", signup_path %></p>
